*{box-sizing: content-box}

#body {
    background: linear-gradient(rgba(248, 73, 70, 0.51), rgba(148, 36, 120, 0.51));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    /* обращение к классу */
    background: linear-gradient(rgba(248, 73, 70, 0.51), rgba(148, 36, 120, 0.51));
    display: flex;
    flex-wrap: wrap;


    width: 300px;
}
.display {
    padding: 10px 50px;
    font-size: 18px;
    flex: 1 1 100%;
    margin: 1px;
    width: 100%;
}

.btn-groups{
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
}
.calc-row{
    flex: 1 1 100%;
    display: flex;
}

.btn{
    background: linear-gradient(rgba(248, 73, 70, 0.51), rgba(148, 36, 120, 0.51));
    flex: 1 1;
    border: 1px solid #aaaaff;
    padding: 10px;
    text-align: center;
    transition: 0.4s;
    user-select: none;
    coursor: pointer;
}

.btn:hover{
    background: #9b84d1;
}

#display{
    /*обращение по id*/
}